<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />  
	</head>
	<body>			
	     	<footer th:fragment="footer" class="row" id="footer">
                 <div class="col-md-12 text-center">
                    	<p class="copyright-text">@swt-G-23 2019 Copyright</p>
                  </div>
             </footer>
	</body>
</html>