<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
    <head>
        <meta charset="utf-8">
        <title>Personallist</title>
                
        <link rel="icon" type="image/png" th:href="@{/resources/images/logo.png}" /> 
        <link th:href="@{/resources/css/normalize.css}" rel="stylesheet"
          href="../static/resources/css/normalize.css" type="text/css"/> 
        <link th:href="@{/resources/css/font-awesome.css}" rel="stylesheet"
          href="../static/resources/css/font-awesome.css" type="text/css"/>
          
        <link th:href="@{/resources/css/bootstrap.css}" rel="stylesheet"
              href="../static/resources/css/bootstrap.css" type="text/css"/>
        <link th:href="@{/resources/css/bootstrap-grid.css}" rel="stylesheet"
            href="../static/resources/css/bootstrap-grid.css" type="text/css"/>
        
        <link th:href="@{/resources/css/templatemo-style.css}" rel="stylesheet"
		href="../static/resources/css/templatemo-style.css" type="text/css"/>
		<link th:href="@{/resources/css/orders.css}" rel="stylesheet"
		href="../static/resources/css/orders.css" type="text/css"/>
		<link th:href="@{/resources/css/card.css}" rel="stylesheet"
          href="../static/resources/css/card.css" type="text/css"/>
        
        <script th:src="@{/resources/js/vendor/modernizr-2.6.2.min.js}" src="resources/js/vendor/modernizr-2.6.2.min.js"></script>
        
    </head>
	</head>
	<body>
		<!-- MENU -->
		<div class="sidebar-menu" th:include="menu :: menu"></div>	
		<!-- /MENU -->
		
		
        <!-- MAIN CONTENT -->
        <div class="main-content">
            <div class="fluid-container">
                <div class="content-wrapper">
                    <!-- PROJECTS -->
                    <div class="page-section" id="projects">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="widget-title" th:text="#{stafflist.header}">KLEINREPARATURBETRIEB - Personallist</h4>
                           <p th:text="#{stafflist.subheader}">Hier haben sie die Möglichkeit, die Mitarbeiterprofile zu bearbeiten.</p>
                        </div>
                    </div>
                    
                    <div class="row projects-holder">
						<div th:each="user : ${users}"class="card">
				            <div class="col-md-6 card-image">
				              <img th:src="@{/resources/images/img_avatar.png}" alt="Avatar" style="width:100%">
				            </div>  
				            <div class="col-md-6 card-body">
				              <h4 class="card-title" th:text="${user.firstName} + ' ' + ${user.name} ">Card Title</h4>
				              <p th:text="${user.email}">max@mustermann.de</p> 
						    <p th:text="${user.skills}">Nahen ...</p> 
						    <p th:text="${user.salary}">4000€</p>
				             <br>
				            <span>
					    		<a th:href="@{/update/{id}(id=${user.staffId})}"
					    		 		class="btn btn-primary"><i class="fa fa-pencil"></i></a>
					    		<a th:if="${!user.isAdmin()}" th:href="@{/delete/{id}(id=${user.staffId})}" 
					    		   onclick="if (!(confirm('Wollen Sie wirklich dieses Components löschen ?'))) return false" 
					    		   class="btn btn-danger"><i class="fa fa-trash"></i></a>
					    	</span>   
				             
				            </div>
          				</div>
					</div>
                    </div>
                    <hr>
					<footer class="row" id="footer" th:include="footer :: footer"></footer>
                </div>
            </div>
        </div>


 		<!-- LANGUAGE -->
		<div class="language" th:include="language:: language"></div>	
		<!-- LANGUAGE -->

        <script th:src="@{/resources/js/vendor/jquery-1.10.2.min.js}" src="js/vendor/jquery-1.10.2.min.js"></script>
        <script th:src="@{/resources/js/bootstrap.js}" src="js/js/bootstrap.js"></script>
        <script th:src="@{/resources/js/bootstrap.bundle.js}" src="js/bootstrap.bundle.js"></script>
        <script th:src="@{/resources/js/bootstrap.bundle.js.map}" src="resources/js/plugin.js"></script>
        <script th:src="@{/resources/js/main.js}" src="resources/js/main.js"></script>
        <script th:src="@{/resources/js/plugin.js}" src="resources/js/plugin.js"></script>

    </body>
</html>